@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-neo {
    @apply inline-flex items-center justify-center border-4 border-dark font-black uppercase transition-all shadow-neo hover:-translate-y-1 active:translate-y-1 active:shadow-none;
  }
}

body {
  @apply bg-gray-50 text-dark;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
  width: max-content;
}