@tailwind base;
@tailwind components;
@tailwind utilities;

/* -- ТВОЙ КАСТОМНЫЙ CSS НИЖЕ -- */

body {
  background-color: #f8fafc;
  /* Сетка на фоне */
  background-image:  radial-gradient(#06b6d4 0.5px, transparent 0.5px), radial-gradient(#06b6d4 0.5px, #f8fafc 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

/* Классы кнопок */
.btn-neo {
  @apply px-6 py-3 font-bold uppercase tracking-wider border-2 border-dark shadow-neo transition-all active:shadow-neo-hover active:translate-x-[2px] active:translate-y-[2px];
}

.btn-primary {
  @apply bg-primary-500 text-white hover:bg-primary-400;
}

.btn-secondary {
  @apply bg-white text-dark hover:bg-gray-100;
}

/* Тень для текста */
.text-shadow-neo {
  text-shadow: 2px 2px 0px #18181b;
  color: white;
}

/* АНИМАЦИЯ БЕГУЩЕЙ СТРОКИ */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    /* Сдвигаем на 50%, так как мы дублируем контент */
    transform: translateX(-50%);
  }
}

.animate-marquee-infinite {
  display: flex;
  width: fit-content;
  /* 30s - время одного полного цикла, linear - равномерная скорость */
  animation: marquee 30s linear infinite;
}

@keyframes fallAndRotate {
    0% {
      transform: translateY(-100vh) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }
  
  .animate-fall {
    animation: fallAndRotate linear infinite;
  }